* {padding:0; margin:0;}
a {text-decoration:none;}
img {border:none;}
a:link,
a:visited {
    color:black;
}
a:hover {
    color:red;
}
.clearfloat {
    clear:both;
}

#page {
    width:960px;
    margin:0 auto;
}
#head {
}
#logo {
    padding:20px 0;
}
#logo h1 {
    font-size:30px;
    margin:5px 0 5px 30px;
    letter-spacing:10px;
    width:280px;
}
#logo h1 span {
    color:red;
    float:right;
    font-size:12px;
    letter-spacing:0;
}
#logo p {
    font-size:14px;
    margin-left:30px;
    color:#bbb;
    font-style:italic;
}
#menu {
    font-size:14px;
    padding-left:20px;
    border-right:1px solid #ccc;
}
#menu ul li {
    padding:5px 10px;
    list-style:none;
    display:inline;
}
#main {
    border-top:1px solid #ccc;
    padding-top:20px;
}
#foot {
    border-top:1px solid #ccc;
    text-align:center;
    margin:20px 0;
}
#foot p {
    margin-top:10px;
    font-size:12px;
    color:#333;
}
/** index page **/
#content {
    width:700px;
    float:left;
    padding-left:50px;
}
/** Entry page **/
label.error {color:red;}
#entry_edit {
    width:812px;
    margin:0 auto;
}
#entry_form table th {
    vertical-align:top;
    width:90px;
    text-align:right;
    padding-right:10px;
}
#entry_form table td input {
    width:698px;
}
#entry_form table tr {
    line-height:35px;
}
