/** CSS Reset **/
* {padding:0; margin:0;}
a {text-decoration:none;}
img {border:none;}
a:link,
a:visited {
    color:black;
}
a:hover {
    color:#D90000;
}
.clearfloat {
    clear:both;
}

/** body **/
body {
	background-color:#333;
}
#side_bar {
	width:200px;
	float:left;
	color:#9FC671;
}
#main {
	width:740px;
	float:left;
	background-color:#FBF8EF;
	padding:10px;
	margin:20px 0;
}
.blog_each {
	padding:10px;
	margin:10px 0;
	border-top:1px dashed #FF9595;
	border-top-width:70%;
}
.blog_each > h1 {
	font-size:22px;
	padding:5px 0;
}
.blog_each > h1 > a {
	padding:3px;
	display:block;
}
.blog_each > h1 > a:link,
.blog_each > h1 > a:visited {
	color:#3177C1;
}
.blog_each > h1 > a:hover {
	color:white;
	background-color:#3177C1;
}
.blog_each > h3 {
	font-size:12px;
}
.blog_each > div {
	font-size:14px;
}
.blog_each > div > p {
	margin:15px 0;
}
.blog_each > div a:link,
.blog_each > div a:visited {
	text-decoration:underline;
	color:#A76B2E;
}
