<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${self.title()} - 后台管理</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" />
        <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
    </head>
    <body>
        <div id="page">
            <div id="head">
                <div id="logo">
                    <h1><a href="/">泥泞的沼泽</a><span>0.1 alpha</span></h1>
                    <p>技术改变生活</p>
                </div>

            </div>
            <div id="main">
                <div id="menu">
                    <ul>
                        <li><a href="/admin/categories/">分类管理</a></li>
                        <li><a href="/admin/tags/">标签管理</a></li>
                        <li><a href="/admin/entries/">文章管理</a></li>
                        <li><a href="/admin/comments/">评论管理</a></li>
                        <li><a href="/admin/links/">链接管理</a></li>
                    </ul>
                </div>
                <div id="content">${ self.body() }</div>
                <br class="clearfloat" />
            </div>
            <div id="foot">
                <p>版权所有©2009 David Shieh | 如有转贴, 请注明出处. <a href="http://davidshieh.cn/">http://davidshieh.cn/</a> | Powered by <a href="http://webpy.org/" target="_blank">web.py</a></p>
            </div>
        </body>
</html>
