<%inherit file="base.html" />
<%def name="title()">栏目管理</%def>

<table>
    <tr>
        <th>No.</th>
        <th>名称</th>
        <th>文章数</th>
        <th>操作</th>
    </tr>
    % for i, one in enumerate(categories):
        <tr>
            <td>${ (page - 1) * 10 + i + 1 }</td>
            <td>${ one.name }</td>
            <td>${ one.entryNum }</td>
            <td>
                <a href="/admin/category/edit/${ one.id }/">修改</a>
                <a href="/admin/category/del/${ one.id }/">删除</a>
            </td>
        </tr>
    % endfor
</table>

<div id="pager">
    % for i in range(pages):
        <span><a href="/admin/categories/?page=${ i + 1 }">${ i + 1 }</a></span>
    % endfor
</div>

<p><a href="/admin/category/add/">添加新的分类</a></p>
