<%inherit file="base.html" />
<%def name="title()">添加新日志</%def>
	<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
	<script src="/static/ckeditor/_samples/sample.js" type="text/javascript"></script>
	<link href="/static/ckeditor/_samples/sample.css" rel="stylesheet" type="text/css"/>
<div id="edit_entry">
    <form action="/admin/entry/add/" method="POST">
    <table>
        <tr>
            <td>标题</td>
            <td><input type="text" name="title" /></td>
        </tr>
        <tr>
            <td>Slug</td>
            <td><input type="text" name="slug" /></td>
        </tr>
        <tr>
            <td>分类</td>
            <td>
                <select name="categoryId">
                    % for one in categories:
                        <option value="${ one.id }">${ one.name }(${ one.entryNum })</option>
                    % endfor
                </select>
            </td>
        </tr>
        <tr>
            <td>标签</td>
            <td><input type="text" name="tags" /></td>
        </tr>
        <tr>
            <td>正文</td>
            <td><textarea name="content"></textarea></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="发表日志" /></td>
        </tr>
    </table>
    </form>
</div>
