<%inherit file="base.html" />
<%def name="title()">页面管理</%def>

<table>
    <tr>
        <th>No.</th>
        <th>名称</th>
        <th>Slug</th>
        <th>操作</th>
    </tr>
    % for i, one in enumerate(pages):
        <tr>
            <td>${ i + 1 }</td>
            <td>${ one.title }</td>
            <td>${ one.slug }</td>
            <td>
                <a href="/admin/page/edit/${ one.id }/">修改</a>
                <a href="/admin/page/del/${ one.id }/">删除</a>
            </td>
        </tr>
    % endfor
</table>
