<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} - 后台管理</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/theme.css" />
        <link rel="stylesheet" type="text/css" href="/static/admin/css/style.css" />
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" />
        <script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
    </head>
    <body>
		<div id="container">
			<div id="header">
				<h2><a href="/">泥泞的沼泽</a><span>0.3 alpha</span></h2>
				<div id="topmenu">
					<ul>
						<li class="current"><a href="/admin/">管理首页</a></li>
						<li><a href="/admin/entry/list/">文章管理</a></li>
						<li><a href="/admin/comment/list/">评论管理</a></li>
						<li><a href="/admin/page/list/">页面管理</a></li>
						<li><a href="/admin/link/list/">链接管理</a></li>
						<li><a href="#">Settings</a></li>
					</ul>
				</div>
			</div>
			<div id="top-panel">
				<div id="panel">
					<ul>
						<li><a href="#" class="report">Sales Report</a></li>
						<li><a href="#" class="report_seo">SEO Report</a></li>
						<li><a href="#" class="search">Search</a></li>
						<li><a href="#" class="feed">RSS Feed</a></li>
					</ul>
				</div>
			</div>
			<div id="wrapper">
				<div id="content">{% block content %}{% endblock %}</div>
			</div>
			<div id="footer">
				<div id="credits">
					<p>版权所有©2009 - 2010 <a href="http://davidx.me/">David Xie</a>
				</div>
				<div id="styleswitcher">
					<ul>
						<li><a href="javascript: document.cookie='theme='; window.location.reload();" title="Default" id="defswitch">d</a></li>
						<li><a href="javascript: document.cookie='theme=1'; window.location.reload();" title="Blue" id="blueswitch">b</a></li>
						<li><a href="javascript: document.cookie='theme=2'; window.location.reload();" title="Green" id="greenswitch">g</a></li>
						<li><a href="javascript: document.cookie='theme=3'; window.location.reload();" title="Brown" id="brownswitch">b</a></li>
						<li><a href="javascript: document.cookie='theme=4'; window.location.reload();" title="Mix" id="mixswitch">m</a></li>
					</ul>
				</div>
				<br />
			</div>
		</div>
	</body>
</html>
