{% extends 'base.html' %}
{% block title %}日志列表{% endblock %}
{% block content %}
<table>
    <tr>
        <th>名称</th>
        <th>发表时间</th>
        <th>操作</th>
    </tr>
    {% for one in entries %}
        <tr>
            <td>{{ one.title }}</td>
            <td>{{ one.created_time }}</td>
            <td>
                <a href="/admin/entry/edit/{{ one.id }}/">修改</a> | 
                <a href="/admin/entry/del/{{ one.id }}/">删除</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div id="pager">
    {% for i in range(p.pages) %}
        <span><a href="/admin/entry/list/?page={{ i + 1 }}">{{ i + 1 }}</a></span>
    {% endfor %}
</div>

<p><a href="/admin/entry/add/">添加新文章</a></p>
{% endblock %}
