{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#topmenu').find('li:eq(0)').addClass('current');
	});
</script>
<table>
	<tr>
		<td><a href="/admin/entry/list/">现在共有 {{ entryNum }} 篇文章</a></td>
	</tr>
	<tr>
		<td><a href="/admin/comment/list/">现在共有 {{ commentNum }} 条评论</a></td>
	</tr>
	<tr>
		<td><a href="/admin/tag/list/">现在共有 {{ tagNum }} 个标签</a></td>
	</tr>
	<tr>
		<td><a href="/admin/link/list/">现在共有 {{ linkNum }} 个链接</a></td>
	</tr>
	<tr>
		<td><a href="/admin/page/list/">现在共有 {{ pageNum }} 个链接</a></td>
	</tr>
</table>
{% endblock %}
