{% extends 'base.html' %}
{% block title %}分类 - {{ category_name }}{% endblock %}
{% block content %}
<div id="blog_list">
    {% if entries %}
        <ul>
        {% for entry in entries %}
            <li><a href="/entry/{{ entry.entry_slug }}/">{{ entry.title }}</a> | @{{ entry.createdTime }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <table id="page_link">
        <tr>
            <td>{% if p[0] >= 2 %}
                <span id="pre_page"><a href="/category/{{ category_name }}/?page={{ p[0] - 1 }}">上一页</a></span>
                {% endif %}</td>
            <td><span id="cur_page">{{ p[0] }} / {{ p[1] }}</span></td>
            <td>{% if p[0] < p[1] %}
                <span id="next_page"><a href="/category/{{ category_name }}/?page={{ p[0] + 1 }}">下一页</a></span>
                {% endif %}</td>
        </tr>
    </table>
</div>

{% include 'sidebar.html' %}
<br class="clearfloat" />
{% endblock %}
