<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>${self.title()} - 泥泞的沼泽</title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <link rel="SHORTCUT ICON" href="/static/favicon.ico" />
        <script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
    </head>
    <body>
        <div id="page">
            <div id="head">
                <div id="logo">
                    <h1><a href="/">泥泞的沼泽</a><span>David-Blog 0.2beta</span></h1>
                    <p>技术改变生活</p>
                </div>
                <div id="menu">
                    <ul>
                        <li><a href="/">博客</a></li>
                        <li><a href="/about/">关于</a></li>
                        <li><a href="/projects/">项目管理</a></li>
                        <li><a href="http://david-paste.cn/" target="_blank">大卫粘贴</a></li>
                        <li style="font-size:16px;"><a href="/rss.xml">RSS2.0</a></li>
                    </ul>
                </div>
            </div>
            <div id="main">${ self.body() }</div>
            <div id="foot">
                <p>版权所有©2009 David Shieh | 如有转贴, 请注明出处. <a href="http://davidshieh.cn/">http://davidshieh.cn/</a> | Powered by <a href="http://webpy.org/" target="_blank">web.py</a></p>
            </div>
        </body>
</html>
