{% extends "base.html" %}
{% block title %}{{ entry.title }}{% endblock %}
{% block content %}
<div id="blog_list">
    {% include "_entry.html" %}
    <div id="comments">
        <h2><span id="comments_num">{{ comments | length }}</span> 条评论</h2>
        {% if entry.comments %}
            {% if p.pages > 1 %}
                <div id="page_link">
                    {% if p.page > 1 %}
                        <span id="pre_page"><a href="/entry/{{ entry.entry_slug }}/?page={{ p.page - 1 }}">上一页</a></span>
                    {% endif %}
                    {% if p.page < p.pages %}
                        <span id="next_page"><a href="/entry/{{ entry.entry_slug }}/?page={{ p.page + 1 }}">下一页</a></span>
                    {% endif %}
                    <span id="cur_page">{{ p.page }}/{{ p.pages }}</span>
                </div>
            {% endif %}
            {% for comment in comments %}
                <div class="comment">
                    <span>#</span>
                    <h1><img src="http://www.gravatar.com/avatar/" /></h1>
                    <h2><a href="{{ comment.url }}">{{ comment.username }}</a></h2>
                    <h3>@{{ comment.createdTime }}</h3>
                    <p>{{ comment.comment }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <div id="comment_form">
            <h2>我想留言</h2>
            <form action="/add_comment/" method="POST">
                <input type="hidden" name="id" value="{{ entry.entryId }}" />
                <table>
                    <tr>
                        <td>昵称 *</td>
                        <td><input type="text" name="username" /></td>
                    </tr>
                    <tr>
                        <td>Email地址 *</td>
                        <td><input type="text" name="email" /></td>
                    </tr>
                    <tr>
                        <td>个人网站</td>
                        <td><input type="text" name="url" /></td>
                    </tr>
                    <tr>
                        <td>留言内容</td>
                        <td><textarea name="comment"></textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="发表留言" style="width:auto;" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
{% include "_leftbar.html" %}

<br class="clearfloat" />
{% endblock %}
