<%inherit file="base.html" />

<%def name="title()">首页</%def>
% if len(syntax) > 0:
    <script type="text/javascript" src="/static/js/shCore.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = '/static/js/clipboard.swf';
        SyntaxHighlighter.all();
    </script>
    % for i in syntax:
        <script type="text/javascript" src="/static/js/shBrush${ i }.js"></script>
    % endfor
% endif
<div id="blog_list">
    % if entries:
        % for entry in entries:
            <div class="blog_each">
                <h1><a href="/entry/${ entry.entry_slug }/">${ entry.title }</a></h1>
                <h3>
                    分类 : <a href="/category/${ entry.category_slug }/">${ entry.category_name }</a>
                    % if entry.tags:
                           | 标签 : 
                        % for tag in entry.tags:
                            <span><a href="/tag/${ tag.name }/">${ tag.name }</a></span>
                        % endfor
                    % endif
                        | @${ entry.createdTime } | ${ entry.commentNum } 条回复
                </h3>
                <div>${ entry.content }</div>
            </div>
        % endfor
    % else:
        <p>here</p>
    % endif
    <div id="page_link">
        % if page > 1:
            <span id="pre_page"><a href="/?page=${ page - 1 }">上一页</a></span>
        % endif
        % if page < pages:
            <span id="next_page"><a href="/?page=${ page + 1 }">下一页</a></span>
        % endif
        <span id="cur_page">${ page }/${ pages }</span>
    </div>
</div>

<div id="side_bar">
    <div class="side_bar_component">
        <h2>标签</h2>
        % for tag in tags:
            <span><a href="/tag/${ tag.name }/">${ tag.name }</a></span>
        % endfor
    </div>

    <div class="side_bar_component">
        <h2>目录</h2>
        <ul>
            % for one in categories:
            <li><a href="/category/${ one.slug }/">${ one.name } <span>(${ one.entryNum })<span></a></li>
            % endfor
        </ul>
    </div>

    <div class="side_bar_component">
        <h2>链接</h2>
        <ul>
            % for one in links:
            <li><a href="${ one.url }" target="_blank">${ one.name }</a></li>
            % endfor
        </ul>
    </div>
</div>

<br class="clearfloat" />
