{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<div id="blog_list">
    {% if entries %}
        {% for entry in entries %}
            {% include "_entry.html" %}
        {% endfor %}
    {% endif %}
    <div id="page_link">
        {% if p.page > 1 %}
            <span id="pre_page"><a href="/?page={{ p.page - 1 }}">上一页</a></span>
        {% endif %}
        {% if p.page < p.pages %}
            <span id="next_page"><a href="/?page={{ p.page + 1 }}">下一页</a></span>
        {% endif %}
        <span id="cur_page">{{ p.page }}/{{ p.pages }}</span>
    </div>
</div>
{% include '_leftbar.html' %}
<br class="clearfloat" />
{% endblock %}
