{% extends "base.html" %}
{% block title %}标签 {{ tag.name }}{% endblock %}
{% block content %}
<div id="blog_list">
	{% if entries %}
        <ul>
		{% for entry in entries %}
			<li><a href="/entry/{{ entry.slug }}/">{{ entry.title }} | @{{ entry.createdTime }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
        <p>该标签下还没有日志.</p>
	{% endif %}
    <div id="page_link">
		{% if p.page > 1 %}
			<span id="pre_page"><a href="/tag/{{ tag.name }}/?page={{ p.prev_page }}">上一页</a></span>
		{% endif %}
		<span id="cur_page">{{ p.page }} / {{ p.pages }}</span>
		{% if p.page < p.pages %}
			<span id="next_page"><a href="/tag/{{ tag.name }}/?page=${ p.next_page }}">下一页</a></span>
		{% endif %}
    </div>
</div>
{% include '_leftbar.html' %}
<br class="clearfloat" />
{% endblock %}
